body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgb(133, 189, 199), rgb(83, 140, 150)) ;
  color: #fff;
  height: 100%;
  width: 100%;
}

.container {
max-width: 500px;
margin: 7vmin auto;
text-align: center;
padding: 30px;
background: linear-gradient(rgb(134, 89, 44), rgb(195, 144, 92)) ;
border-radius: 10px;
box-shadow: 3px 3px 7px #000;
} 

h1 {
  margin-top: -15px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
}

#catPhoto {
  margin-top: 5px;
}

#catPhoto img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #000;
}

button {
  background-color:pink;
  border: none;
  padding: 10px 20px;
  margin-top: 18px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 7px #000;
  color: #000;
}